{% extends 'correspondencia/bases/base_correspondencia.html' %}
{% load static crispy_forms_tags %}

{% block title %}{{ titulo_pagina }}{% endblock %}
{% block page_title %}{{ titulo_pagina }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm">
                 <div class="card-header">
                     <i class="bi bi-building-fill-add me-1"></i> {{ titulo_pagina }}
                 </div>
                <div class="card-body">
                    {% crispy form %}
                </div>
                <div class="card-footer text-end">
                    <a href="{% url 'correspondencia:listar_entidades' %}" class="btn btn-secondary">
                        <i class="bi bi-x-circle me-1"></i> Cancelar
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 