{% extends 'correspondencia/bases/base_correspondencia_usuario.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ titulo_pagina }}{% endblock %}
{% block page_title %}{{ titulo_pagina }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-8">
    <div class="card shadow">
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="mt-3 d-flex gap-2">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a class="btn btn-secondary" href="{% url 'correspondencia:grupos_agenda_index' %}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}


